@font-face {
  font-family: "ModernSans-Light";
  src: url("../font/ModernSans-Light.otf");
}

@font-face {
  font-family: "MEROCHE";
  src: url("../font/LEONARDO.otf");
}

:root{
  --background-color: #01172e;
  --titre-color: #BEE3DB;
  --text-color: #FEF5EF;
  --text-font: 'ModernSans-Light';
  --titre-font: "MEROCHE";
}

body{
  background-color: var(--background-color);
  font-family: var(--text-font);
  color: var(--text-color);
  width: 100vw;
}

hr{
  width: 75vw;
  background-color: #BEE3DB;
  margin-bottom: 4vw;
}

a{
  color: #BEE3DB;
  background-color: #002c59;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-right: 1vw;
  padding-left: 1vw;
  border-radius: 25px;
}

a:hover{
  color: #002c59;
  background-color: #BEE3DB;
}

h1{
  font-size: 5vw;
}

h3{
  font-size: 1.5vw;
}

p{
  text-align: justify;
  font-size: 1.2vw;
}

.para{
  margin-right: 10vw;
  margin-left: 10vw;
  box-sizing: border-box;
  text-align-last: center;
}

.titre{
  color: var(--titre-color);
  font-family: var(--titre-font);
}

.center{
  text-align: center;
}

header{
  background-color: #002c59;
  width: 100vw;
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10001;
}

header h1{
  margin-top: 0;
  margin-bottom: 0;
}

header h3{
  margin-top: 1vw;
}

header li{
  list-style: none;
}

header a{
  color: var(--titre-color);
  font-size: 1.5vw;
}

header a:hover{
  font-size: 1.5vw;
  text-decoration: underline;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

nav li{
  display: inline-block;
  margin-left: 2vw;
}

#menu{
  padding-bottom: 2vw;
}

#menu img{
  width: 6vw;
}

.menu{
  height:5vw;
  width:5vw;
  padding-bottom: 2vw;
  position: absolute;
  top: 2vw;
  left: 2vw;
  color:#FFFFFF;
  z-index: 10002;
}
.sousmenu{
  margin: 0;
  color:#FFFFFF;
  padding-top: 5vw;
}

.sm1{
  padding-top: 2vw;
  margin-top: 20vw;
}

.menu a{
  text-decoration:none;
  background: none;
}

#sousmenu1{
  z-index: 10000;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #000000;
}

.sousmenu a{
  display:block;
  text-align: center;
  width:100%;
  height:100%;
  color:#FFFFFF;
  font-size:2.7vw;
  text-decoration:none;
  background: none;
  border-radius: 0;
}

.title{
  color: var(--titre-color);
  font-size: 2vw;
}


.sousmenu a:hover{
  text-decoration: underline;
}

#main{
  padding-top: 13vw;
  z-index: -9999999;
  max-width: 100vw;
}

.nonb{
  background: none;
  border-radius: 0;
}

.nonb :hover{
  background: none;
  border-radius: 0;
}

.nonb :after{
  background: none;
  border-radius: 0;
}


.profils{
  margin-top: 5vw;
}

.profils #btnj .nonb{
  border-radius: 0;
  background: none;
}

.profils #btnv .nonb{
  border-radius: 0;
  background: none;
}

.profils #btna .nonb{
  border-radius: 0;
  background: none;
}

.profils #btne .nonb{
  border-radius: 0;
  background: none;
}

.profils img{
  border-radius: 720px;
  max-width: 7vw;
  position: absolute;
  border-top: solid 2px #BEE3DB;
  border-left: solid 2px #BEE3DB;
}

.profils .titre{
  position: absolute;
  z-index: 1;
}

.btnprof{
  background-color: #002c59;
  width: 20vw;
  height: 30vw;
  border-radius: 20px;
  position: absolute;
  border: solid 2px #BEE3DB;
}

.btnprof img{
  left: -3vw;
  top: -3vw;z-index: 1;
}

.btnprof .titre{
  font-size: 3vw;
  top: -2vw;
  left: 6vw;
}


.btnprof p{
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  margin-top: 3.6vw;
  font-size: 0.98vw;
}


.btnprof p a{
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

.btnprof a img:hover{
  border-radius: 360px;
}

.btnprof > p > a:hover{
  color: #BEE3DB;
}

#btnv .titre{
  left: 5vw;
}

#btnj{
  left: 4vw;
}

#btnv{
  left: 28vw;
}

#btna{
  left: 52vw;
}

#btne{
  left: 76vw;
}

.vp{
  z-index: 1;
  color: #BEE3DB;
  background-color: #002c59;
  border: solid 2px #BEE3DB;
  position: absolute;
  left: 5vw;
  top: 27vw;
  font-size: 1vw;
}

.services{
  margin-top: 40vw;
  max-width: 100vw;
}

.services ul{
  font-size: 1.3vw;
  position: absolute;
  display: inline-block;
  margin-top: 3vw;
}

.services ul li a{
  border-radius: 0;
  background: none;
}

.services ul li a:hover{
  color: var(--text-color)
}

.sl1{
  left: 14vw;
}

.sl2{
  right: 14vw;
}

.sl{
  position: absolute;
  margin-top: 20vw;
  left: 45vw;
  margin-bottom: 5vw;
}

#pageprof .profilimg{
  max-width: 15vw;
  border-radius: 360px;
  border: solid 2px #BEE3DB;
  position: absolute;
  left: 5vw;
}

.logo{
  max-width: 10vw;
  position: absolute;
  top: 1vw;
  right: 2vw;
}

#pageprof p a{
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

#pageprof a img:hover{
border-radius: 360px;
}

#pageprof > p > a:hover{
color: #BEE3DB;
}

#pageprof p{
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 1.5vw;
}

#pageprof #ethan p{
  padding-bottom: 3vw;
}

#pageprof .titre{
  text-align: center;
}

#pageprof #jonah .profilimg{
  top: 15vw;
}

#pageprof #jonah .titre{
  position: relative;
  top: 1vw;
}

#pageprof #jonah p{
  position: relative;
  text-align: center;
}

#pageprof #valentin .profilimg{
  top: 53vw;
}

#pageprof #valentin .titre{
  position: relative;
  top: 3vw;
}

#pageprof #valentin p{
  position: relative;
  text-align: center;
  top: 3vw;
}

#pageprof #adrien .profilimg{
  top: 92vw;
}

#pageprof #adrien .titre{
  position: relative;
  top: 6vw;
}

#pageprof #adrien p{
  position: relative;
  text-align: center;
  top: 5vw;
}

#pageprof #ethan .profilimg{
  top: 133vw;
}

#pageprof #ethan .titre{
  position: relative;
  top: 10vw;
}

#pageprof #ethan p{
  position: relative;
  text-align: center;
  top: 9vw;
}

#ethan{
  margin-bottom: 5vw;
}

.error{
  text-align: center;
}

.error1 > img{
  max-width: 10vw;
  border-radius: 360px;
  border: solid 2px #BEE3DB;
}

.errorimg{
  max-width: 68vw;
}

@media (min-width: 960px) {
  #menu {
    display: none;
  }
  #bigscreen{
    display: block;
  }
  .logotel{
    display: none;
  }
}

@media screen and (max-width: 960px) {
  #menu {
    display: block;
  }
  #bigscreen{
    display: none;
  }
  header > nav{
    display: none;
  }
  .logo{
    max-width: 8vw;
  }
  .logotel{
    display: none;
  }
}


@media (max-device-width: 960px) {
  .logo{
    display: none;
  }
  .logotel{
    display: block;
    max-width: 9vw;
    position: absolute;
    left: 44.5vw;
    top: 8.5vw;
  }
  .desc{
    display: none;
  }
  header{
    padding-bottom: 9vw;
  }
  #menu a{
    position: absolute;
    top: 3vw;
  }
  .error p{
    font-size: 3vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .error h1{
    font-size: 3vw;
  }
  .errorimg{
    max-width: 80vw;
  }
  .error1 > img{
    max-width: 20vw;
  }
  .error p{
    text-align: justify;
    text-align-last: center;
  }
  header > nav{
    display: none;
  }
  #pageprof a{
    font-size: 1.5vw;
  }
  #pageprof .profilimg{
    position: relative;
    left: 40vw;
    min-width: 20vw;
    border: solid 3px #BEE3DB;
  }
  #pageprof #jonah .profilimg{
    top: -1vw;
  }
  #pageprof #valentin .profilimg{
    top: 1vw;
  }
  #pageprof #adrien .profilimg{
    top: 4vw;
  }
  #pageprof #ethan .profilimg{
    top: 8vw;
  }
  #pageprof #ethan p{
    padding-bottom: 3vw;
  }
  #pageprof p{
    text-align: justify;
    text-align-last: center;
  }
  .btnprof p{
    margin-left: 1.8vw;
    margin-right: 1.8vw;
    text-align: center;
    margin-top: 12vw;
    font-size: 3.6vw;
  }
  .sl1{
    left: 3vw;
  }
  .sl1 p{
    font-size: 3vw;
    text-align: left;
    margin: 0;
  }
  .sl2{
    left: 58vw;
    padding-right: 3vw;
    margin-right: 0;
  }
  .sl2 p{
    font-size: 3vw;
    text-align: left;
    margin: 0;
    width: 31vw;
  }
  .sl{
    margin-top: 25vw;
    text-align: center;
    left: 35vw;
  }
  a{
    font-size: 3vw;
  }
  #menu{
    display: block;
  }
  header h1{
    font-size: 8vw;
  }
  header h3{
    font-size: 2.5vw;
  }
  .btnprof{
    background-color: #002c59;
    width: 70vw;
    height: 105vw;
  }
  .title{
    font-size: 1.3vw;
  }
  .btnprof img{
    min-width: 15vw;
    left: -7vw;
    top: -4vw;
    font-size: 3vw;
  }

  .btnprof .titre{
    font-size: 7vw;
    left: 24vw;
    top: -4vw;
  }
  #btnv .titre{
    left: 21vw;
  }

  p{
    font-size: 2vw;
  }
  .vp{
    font-size: 3vw;
    top: 97vw;
    left: 22.5vw;
  }

  #btnj{
    left: 15vw;
  }
  #btnv{
    left: 15vw;
    top: 167vw;
  }

  #btna{
    top: 282vw;
    left: 15vw;
  }

  #btne{
    top: 397vw;
    left: 15vw;
  }
  .services{
    margin-top: 483vw;
  }
  #bigscreen{
    display: none;
  }
}

@media (device-height: 731px) and (device-width: 411px){
  #btnv{
    left: 15vw;
    top: 157vw;
  }

  #btna{
    top: 277vw;
    left: 15vw;
  }

  #btne{
    top: 397vw;
    left: 15vw;
  }
  .services{
    margin-top: 477vw;
  }
  #bigscreen{
    display: none;
  }
}

@media (orientation: portrait) and (device-width: 411px){
  #btnv{
    left: 15vw;
    top: 170vw;
  }

  #btna{
    top: 290vw;
    left: 15vw;
  }

  #btne{
    top: 410vw;
    left: 15vw;
  }
  .services{
    margin-top: 477vw;
  }
}

@media (orientation: portrait) and (device-width: 320px){
  #btnv{
    left: 15vw;
    top: 185vw;
  }

  #btna{
    top: 305vw;
    left: 15vw;
  }

  #btne{
    top: 425vw;
    left: 15vw;
  }
  .services{
    margin-top: 477vw;
  }
}

@media (device-height: 667px) and (device-width: 375px) {
  .services{
    margin-top: 465vw;
  }
}

@media (device-height: 812px) and (device-width: 375px) {
  .services{
    margin-top: 465vw;
  }
}

@media (device-height: 640px) and (device-width: 360px){
  #btnv{
    left: 15vw;
    top: 175vw;
  }

  #btna{
    top: 295vw;
    left: 15vw;
  }

  #btne{
    top: 415vw;
    left: 15vw;
  }
  .services{
    margin-top: 480vw;
  }
}

@media (device-width: 414px) and (device-height: 736px){
  #btnv{
    left: 15vw;
    top: 170vw;
  }

  #btna{
    top: 290vw;
    left: 15vw;
  }

  #btne{
    top: 410vw;
    left: 15vw;
  }
  .services{
    margin-top: 485vw;
  }
}

@media (device-width: 640px) and (device-height: 360px){
  #btnv{
    left: 15vw;
    top: 150vw;
  }

  #btna{
    top: 270vw;
    left: 15vw;
  }

  #btne{
    top: 390vw;
    left: 15vw;
  }
  .services{
    margin-top: 477vw;
  }
}


@media (orientation: landscape) and (device-height: 411px){
  #btnv{
    left: 15vw;
    top: 150vw;
  }

  #btna{
    top: 270vw;
    left: 15vw;
  }

  #btne{
    top: 390vw;
    left: 15vw;
  }
  .services{
    margin-top: 477vw;
  }
}

@media (orientation: landscape) and (device-height: 360px){
  #btnv{
    left: 15vw;
    top: 155vw;
  }

  #btna{
    top: 275vw;
    left: 15vw;
  }

  #btne{
    top: 395vw;
    left: 15vw;
  }
  .services{
    margin-top: 477vw;
  }
}

@media (orientation: landscape) and (device-height: 414px){
  #btnv{
    left: 15vw;
    top: 155vw;
  }

  #btna{
    top: 275vw;
    left: 15vw;
  }

  #btne{
    top: 395vw;
    left: 15vw;
  }
  .services{
    margin-top: 477vw;
  }
}

@media (orientation: landscape) and (device-height: 375px){
  #btnv{
    left: 15vw;
    top: 152vw;
  }

  #btna{
    top: 272vw;
    left: 15vw;
  }

  #btne{
    top: 392vw;
    left: 15vw;
  }
  .services{
    margin-top: 477vw;
  }
}

@media (orientation: landscape) and (device-height: 375px){
  #btnv{
    left: 15vw;
    top: 155vw;
  }

  #btna{
    top: 275vw;
    left: 15vw;
  }

  #btne{
    top: 395vw;
    left: 15vw;
  }
  .services{
    margin-top: 477vw;
  }
}

@media (orientation: landscape) and (device-height: 320px){
  #btnv{
    left: 15vw;
    top: 157vw;
  }

  #btna{
    top: 277vw;
    left: 15vw;
  }

  #btne{
    top: 397vw;
    left: 15vw;
  }
  .services{
    margin-top: 477vw;
  }
}

@media (orientation: landscape) and (device-width: 980px){
  #btnv{
    left: 15vw;
    top: 150vw;
  }

  #btna{
    top: 270vw;
    left: 15vw;
  }

  #btne{
    top: 390vw;
    left: 15vw;
  }
  .services{
    margin-top: 477vw;
  }
}

@media (device-height: 1024px) and (device-width: 768px){
  #btnv{
    left: 15vw;
    top: 155vw;
  }

  #btna{
    top: 275vw;
    left: 15vw;
  }

  #btne{
    top: 395vw;
    left: 15vw;
  }
  .title{
    font-size: 3.5vw;
  }
  p{
    font-size: 2vw;
  }
}

@media (device-width: 1024px) and (device-height: 1366px){
  .btnprof .titre{
    font-size: 2vw;
    left: 7.5vw;
    top: -0.5vw;
  }
  #btnv .titre{
    left: 6.5vw;
  }
  #pageprof .profilimg{
    max-width: 13vw;
  }
  #pageprof #valentin .profilimg{
    top: 61vw;
  }
  #pageprof #adrien .profilimg{
    top: 110vw;
  }
  #pageprof #ethan .profilimg{
    top: 161vw;
  }

  @media (max-width: 960px) {
    .bigscreen{
      display: none;
    }
    #menu{
      display: block;
    }
  }

  @media (min-width: 1280px) {
    header h1{
      font-size: 4vw;
    }
    header h3{
      font-size: 1.2vw;
    }
  }
