@font-face {
  font-family: "ModernSans-Light";
  src: url("../font/ModernSans-Light.otf");
}

@font-face {
  font-family: "MEROCHE";
  src: url("../font/LEONARDO.otf");
}

:root{
  --background-color: #01172e;
  --titre-color: #BEE3DB;
  --text-color: #FEF5EF;
  --text-font: 'ModernSans-Light';
  --titre-font: "MEROCHE";
}

body{
  background-color: var(--background-color);
  font-family: var(--text-font);
  color: var(--text-color);
  width: 100vw;
}

hr{
  width: 75vw;
  background-color: #BEE3DB;
  margin-bottom: 4vw;
}

a{
  color: #BEE3DB;
  background-color: #002c59;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-right: 1vw;
  padding-left: 1vw;
  border-radius: 25px;
}

a:hover{
  color: #002c59;
  background-color: #BEE3DB;
}

h1{
  font-size: 5vw;
}

h3{
  font-size: 1.5vw;
}

p{
  text-align: justify;
  font-size: 1.2vw;
}

.para{
  margin-right: 10vw;
  margin-left: 10vw;
  box-sizing: border-box;
  text-align-last: center;
}

.titre{
  color: var(--titre-color);
  font-family: var(--titre-font);
}

.center{
  text-align: center;
}

header{
  background-color: #002c59;
  width: 100vw;
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10001;
}

header h1{
  margin-top: 0;
  margin-bottom: 0;
}

header h3{
  margin-top: 1vw;
}

header li{
  list-style: none;
}

header a{
  color: var(--titre-color);
  font-size: 1.5vw;
}

header a:hover{
  font-size: 1.5vw;
  text-decoration: underline;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

nav li{
  display: inline-block;
  margin-left: 2vw;
}

#menu{
  padding-bottom: 2vw;
}

#menu img{
  width: 6vw;
}

.menu{
  height:5vw;
  width:5vw;
  padding-bottom: 2vw;
  position: absolute;
  top: 2vw;
  left: 2vw;
  color:#FFFFFF;
  z-index: 10002;
}
.sousmenu{
  margin: 0;
  color:#FFFFFF;
  padding-top: 5vw;
}

.sm1{
  padding-top: 2vw;
  margin-top: 20vw;
}

.menu a{
  padding-left: 2vw;
  display:block;
  width:100%;
  height:100%;
  color:#FFFFFF;
  font-family:arial,sans-serif;
  font-size:12px;
  text-decoration:none;
}

#sousmenu1{
  z-index: 10000;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #000000;
}

.sousmenu a{
  display:block;
  text-align: center;
  width:100%;
  height:100%;
  color:#FFFFFF;
  font-size:2.7vw;
  text-decoration:none;
}


.sousmenu a:hover{
  text-decoration: underline;
}

#main{
  padding-top: 13vw;
  z-index: -9999999;
}

#main h1{
  font-size: 2vw;
}

.profils{
  margin-top: 5vw;
}

.profils #btnj .nonb{
  border-radius: 0;
  background: none;
}

.profils #btnv .nonb{
  border-radius: 0;
  background: none;
}

.profils #btna .nonb{
  border-radius: 0;
  background: none;
}

.profils #btne .nonb{
  border-radius: 0;
  background: none;
}

.profils img{
  border-radius: 720px;
  max-width: 7vw;
  position: absolute;
  border-top: solid 2px #BEE3DB;
  border-left: solid 2px #BEE3DB;
}

.profils .titre{
  position: absolute;
  z-index: 1;
}

.btnprof{
  background-color: #002c59;
  width: 20vw;
  height: 30vw;
  border-radius: 20px;
  position: absolute;
  border: solid 2px #BEE3DB;
}

#btnj img{
  left: -3vw;
  top: -3vw;z-index: 1;
}

#btnv img{
  left: -3vw;
  top: -3vw;
  z-index: 1;
}

#btna img{
  left: -3vw;
  top: -3vw;
  z-index: 1;
}

#btne img{
  left: -3vw;
  top: -3vw;
  z-index: 1;
}

#btnj .titre{
  top: 0.2vw;
  left: 7.5vw;
}

#btnv .titre{
  top: 0.2vw;
  left: 7.5vw;
}

#btna .titre{
  top: 0.2vw;
  left: 7.5vw;
}

#btne .titre{
  top: 0.2vw;
  left: 7.5vw;
}

#btnj{
  left: 4vw;
}

#btnv{
  left: 28vw;
}

#btna{
  left: 52vw;
}

#btne{
  left: 76vw;
}

.services{
  margin-top: 40vw;
}

.services ul{
  font-size: 1.3vw;
  position: absolute;
  display: inline-block;
  margin-top: 3vw;
}

.services ul li a{
  border-radius: 0;
  background: none;
}

.services ul li a:hover{
  color: var(--text-color)
}

.sl1{
  left: 14vw;
}

.sl2{
  right: 14vw;
}

.sl{
  position: absolute;
  margin-top: 14vw;
  left: 46vw;
  margin-bottom: 5vw;
}

@media (min-width: 960px) {
  #menu {
      display: none;
    }
  .bigscreen{
      display: block;
    }
}


@media (max-device-width: 960px) {
  .bigscreen{
    display: none;
  }
  #menu{
    display: block;
  }
  header h1{
    font-size: 8vw;
  }
  header h3{
    font-size: 2.5vw;
  }
}

@media (max-width: 960px) {
  .bigscreen{
    display: none;
  }
  #menu{
    display: block;
  }
}

@media (min-width: 1280px) {
  header h1{
    font-size: 4vw;
  }
  header h3{
    font-size: 1.2vw;
  }
}
